@import "cssreset-min.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: Arial;
}
header {
  position: absolute;
  top: 0px;
  height: 72px;
  width: 100%;
  padding: 0px 40px;
  background-color: #dbddf6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#dbddf6));
  background-image: -moz-linear-gradient(top, #ffffff, #dbddf6);
  background-image: -ms-linear-gradient(top, #ffffff, #dbddf6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dbddf6));
  background-image: -webkit-linear-gradient(top, #ffffff, #dbddf6);
  background-image: -o-linear-gradient(top, #ffffff, #dbddf6);
  background-image: linear-gradient(top, #ffffff, #dbddf6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dbddf6', GradientType=0);
  border-top: 1px solid #f7f8fb;
  border-bottom: 1px solid #c0c1ee;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
header input {
  border: 1px solid #bababa;
  outline: none;
  height: 30px;
  width: 620px;
  padding: 8px;
  padding-right: 30px;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff url(../images/search.png) 590px 4px no-repeat;
}
header form img {
  vertical-align: bottom;
  width: 30px;
  margin-left: 5px;
  cursor: pointer;
}
header .markets {
  position: absolute;
  top: 60px;
  left: 380px;
  width: 610px;
  border: 1px solid #ccc;
  background: white;
  z-index: 10;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
header .markets span {
  display: inline-block;
  width: 90px;
  height: 87px;
  text-align: center;
  padding: 5px 10px;
  padding-top: 50px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: top center;
  color: #666;
  cursor: pointer;
  font-size: 13px;
  vertical-align: top;
}
header .markets span:hover {
  color: #000;
}
header .markets:before {
  content: "";
  border: solid 10px transparent;
  border-bottom-color: white;
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  position: relative;
  top: -40px;
  margin: auto;
}
nav {
  position: absolute;
  top: 72px;
  height: 47px;
  width: 100%;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  padding-left: 40px;
}
nav a {
  font-family: arial;
  cursor: pointer;
  font-size: 15px;
  color: #8e8e94;
  margin-right: 32px;
}
nav a.active, nav a:hover {
  color: #bf3a5a;
}
article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article section {
  position: absolute;
  top: 150px;
  left: 350px;
  right: 0px;
  z-index: 1;
  padding: 0px 40px;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
article section iframe, article section > div {
  border: 0px;
  width: 100%;
  height: 100%;
  min-height: 200px;
  overflow: hidden;
}
article aside {
  position: absolute;
  z-index: 2;
  background: white;
  width: 350px;
  overflow: hidden;
  top: 150px;
  /*&.minimized {
            .box-shadow(inset -2px 0px 10px -4px rgba(0,0,0,.25));
            width: 40px;  
            
            // Hide scrollbar
            > div { display: none; }          
        }*/

  border-right: 1px solid #e0e1e8;
}
article aside.hover {
  width: 350px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
article aside.hover > div {
  display: block;
}
article aside ul {
  width: 350px;
}
article aside li {
  padding: 0 30px;
  margin-bottom: 20px;
  position: relative;
}
article aside li.selected:after {
  top: 45%;
  right: 10px;
  width: 11px;
  height: 23px;
  position: absolute;
  content: "";
  background: url(../images/chevron.png) center no-repeat;
}
article aside li.twitter cite {
  display: inline-block;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
article aside li.pages a {
  margin-right: 10px;
}
article aside li.pages a.current {
  text-decoration: none;
  color: #333;
  cursor: default;
}
article aside h3 {
  color: #12C;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article aside date {
  margin-left: 10px;
  color: #666;
  font-size: 13px;
}
article aside cite a {
  color: #093;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article aside cite a:hover {
  text-decoration: underline;
}
article aside p {
  color: #222;
  font-size: 13px;
  line-height: 16px;
}
article aside button {
  display: none;
}
article aside li > img {
  float: left;
  margin-right: 5px;
  width: 48px;
  height: 48px;
  border-radius: 2px;
}
article aside.fade {
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.ui-autocomplete {
  position: absolute;
  top: 51px;
  left: 40px;
  z-index: 999 !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background: white;
}
.ui-autocomplete li a {
  display: inline-block;
  width: 100%;
  padding: 3px 8px;
}
.ui-autocomplete li a.ui-state-hover {
  background: #eee;
}
